body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.parallax-bg {
    background-image: url("./images/novo1.jpeg"); /* Substitua 'DeltaHalo.jpg' pelo caminho da sua imagem de fundo */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    z-index: -1;
}

.content {
    padding: 50px 20px;
}

header, section {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

h1, h2, h3 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: blue;
}

#experiencias article {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#experiencias article:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.fa-whatsapp {
    color: #25d366; /* Cor verde do WhatsApp */
    font-size: 20px; /* Ajuste o tamanho da fonte conforme necessário */
    margin-right: 5px; /* Adicione margem para espaçamento */
}

.whatsapp-container {
    display: flex; /* Habilita o layout flexbox */
    align-items: flex-end; /* Alinha os itens verticalmente */
}
