body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.parallax-bg {
    background-image: url("/static/images/novo1.jpg"); /* Caminho correto para a imagem */
    background-size: cover; /* Para cobrir toda a área da div */
    background-position: center center; /* Alinhar a imagem ao centro */
    height: 100vh; /* Ajuste a altura conforme necessário */
}



.content {
    padding: 50px 20px;
}

header, section {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

h1, h2, h3 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: blue;
}

#experiencias article {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#experiencias article:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.fa-whatsapp {
    color: #25d366; /* Cor verde do WhatsApp */
    font-size: 20px; /* Ajuste o tamanho da fonte conforme necessário */
    margin-right: 5px; /* Adicione margem para espaçamento */
}

.whatsapp-container {
    display: flex; /* Habilita o layout flexbox */
    align-items: flex-end; /* Alinha os itens verticalmente */
}

/* Estilo para o botão "Voltar ao Início" */
.btn-voltar {
    position: fixed; /* Define a posição fixa */
    bottom: 20px; /* Distância do fundo */
    right: 20px; /* Distância da direita */
    background-color: #e1e6ec; /* Cor de fundo */
    color: #000000; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 15px; /* Borda arredondada */
    text-decoration: none; /* Remove o sublinhado do link */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    z-index: 999; /* Z-index alto para garantir que fique acima de outros elementos */
}

/* Estilo para o ícone dentro do botão */
.btn-voltar i {
    margin-right: 5px; /* Espaçamento entre o ícone e o texto */
}

/* Estilos para as imagens */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

/* Outros estilos para personalizar a exibição */
h1 {
    text-align: center;
    color: #333;
}

.whatsapp-container a {
    color: #25d366; /* Cor verde padrão do WhatsApp */
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.whatsapp-container a:hover {
    text-decoration: underline;
    color: #128c7e; /* Cor para o efeito hover */
}

.whatsapp-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.whatsapp-container .fa-whatsapp {
    margin-right: 8px;
    font-size: 24px;
}
